@import url("https://fonts.googleapis.com/css2?family=Aldrich&family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,700;1,800;1,900&family=Roboto+Mono:wght@300;400&family=Teko:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* GENERALES  */
:root {
  --verde: #b6ff40;
  --black: #081325;
  --blue: #2c62fe;
  --purple: #b28afd;
  --title-size: 24px;
  --subtitle-size: 16px;
  --text: 14px;
  --button-size: 18px;
  --border-radius: 12px;
  --button-weight: 600;
  --border-width: 3px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

body {
  overflow: hidden;
  background-color: #081325;
  
}

.logo {
  height: 30px;
}

h1,
h2,
h3 {
 
  color: #fff;
}

p {
  color: #fff;
}

a {
  cursor: pointer;
  text-decoration: none;
  scroll-behavior: smooth;
}

button {
  /* font-family: "Bebas Neue", cursive; */
  cursor: pointer;
}

section {
  position: relative;
}

.bold {
  font-weight: bold;
}

li {
  list-style: none;
}


/* ===== Scrollbar CSS ===== */


/* Firefox */

* {
  scrollbar-width: auto;
  scrollbar-color: #2c62fe #ffffff00;
}


/* Chrome, Edge, and Safari */

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #ffffff00;
}

*::-webkit-scrollbar-thumb {
  background-color: #2c62fe;
  border-radius: 10px;
  border: 3px solid #ffffff00;
}


/* fixed content */



/* NAVBAR */

.main-navbar-desktop {
  background-color: transparent;
  padding: 8px 50px;
  position: absolute;
  width: 100%;
}

.play-navbar {
  background-color: #081325;
  position: relative;
  border-bottom: 1px solid #3c5376;
  box-shadow: inset 0 -1px hsl(0deg 0% 100% / 10%), 0 8px 16px -4px rgb(0 0 0 / 75%);
  -webkit-box-shadow: inset 0 -1px hsl(0deg 0% 100% / 10%), 0 8px 16px -4px rgb(0 0 0 / 75%);
}

.navbar {
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}

.media-navbar {
  display: none;
}

.menu-button {
  display: none;
}

.logo {
  height: 30px;
}

.user-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profilepicture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid #2c62fe;
  margin: 0 auto;
  overflow: hidden;
}

.profilepicture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mode-bets-a {
  padding: 2rem 3rem;
} 

.user-name {
  color: #fff;
  /* font-family: "Poppins"; */
  font-weight: 300;
  font-size: 15px;
}

.menu-navigation-media {
  display: none;
}

@media (max-width: 768px) {
  .log-buttons {
    display: none;
  }

  .logo {
    height: 25px;
  }

  .navbar {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .menu-button {
    display: block;
  }

  .menu-navigation-x {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2rem 1.5rem;
  }

  .close-bw {
    transition: all 0.3s ease-in-out;
  }

  .menu-navigation-x:hover .close-bw {
    filter: invert(99%) sepia(2%) saturate(225%) hue-rotate(118deg) brightness(115%) contrast(100%);
    cursor: pointer;
  }

  .menu-navigation-media {
    position: absolute;
    height: 93%;
    width: 89%;
    background-color: #b6ff40;
    margin: 30px 30px;
    z-index: 30;
    border-radius: 1rem;
    display: block;
    padding-top: 80px;
  }

  .nav-divider {
    border: 1px solid #98ea13;
    margin: 0 32px;
  }

  .menu-navigation-links {
    display: flex;
    flex-direction: column;
  }

  .anchor {
    color: #081325;
    font-size: 1rem;
    line-height: 1.75rem;
    padding: 1.4rem 2rem;
    /* font-family: "Roboto Mono", monospace; */
    letter-spacing: -0.4px;
  }

  .menu-navigation-media a:hover {
    background-color: #c8f97a;
  }

  .menu-navigation-btn {
    position: absolute;
    bottom: 0;
    padding: 1rem 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .menu-navigation-btn a {
    border-radius: 1rem;
  }

  .menu-navigation-btn a:hover {
    background-color: #ebfbd1;
  }
}

.overlay-gradient {
  position: absolute;
  top: 14%;
  width: 100%;
  height: 15vh;
  z-index: 2;
  background: linear-gradient(180deg, transparent, #081325 50%, #081325);
}

.right-c {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}


/* HASTA AQUI TERMINA EL NAVBAR */

.fixed-button-container {
  position: fixed;
  transition: all 0.5s linear;
  right: 40%;
  margin: 20px 50px;
  z-index: 999;
  
}

.fixed-button {
  -webkit-transition: opacity 0.5s 0s ease;
  -moz-transition: opacity 0.5s 0s ease;
  -o-transition: opacity 0.5s 0s ease;
  transition: opacity 0.5s 0s ease;
}

.fixed-button,
.fixed-button::after {
  width: 300px;
  height: 70px;
  font-size: 28px;
  background: linear-gradient(45deg, transparent 5%, var(--verde) 5%);
  border: 0;
  color: var(--black);
  letter-spacing: 3px;
  line-height: 70px;
  box-shadow: 6px 0px 0px #2c62fe;
  outline: transparent;
  position: relative;
  font-weight: var(--button-weight);
}

.fixed-button::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  content: "EMPEZAR";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #2c62fe 3%, #2c62fe 5%, #b6ff40 5%);
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #2c62fe;
  clip-path: var(--slice-0);
}

.fixed-button:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }

  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }

  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }

  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }

  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }

  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }

  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }

  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }

  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }

  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }

  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

.btn {
  padding: 0.8em 1.6em;
  border: none;
  
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
  font-size: var(--button-size);
  font-weight: var(--button-weight);
  border-radius: var(--border-radius);

  margin: 3px 10px;

}

.btn-md {
  background-color: #b6ff40;
  color: rgb(14, 13, 13);
}

.btn-md:hover {
  background-color: #fff;
}

.outline {
  background-color: transparent;
  color: #b6ff40;
}

.outline:hover {
  background-color: #0b1a38;
  color: #fff;
}


/* first section */

.first-section {
  position: relative;
  height: 100vh;
}

.intro {
  position: absolute;
  top: 20%;
  margin-left: 50px;
}

.title-1 {
  font-size: 4.8em;
  font-weight: bold;
  margin-bottom: 0.5em;
  /* font-family: "Poppins", sans-serif; */
  line-height: 75px;
  text-align: start;
}

.subtitle-1 {
  font-size: var(--title-size);
  margin-top: .5rem;
  color: #fff;
  margin-bottom: 0.5em;
  /* font-family: "Roboto Mono", monospace; */
  text-align: start;
}


/* SECCION 2 EMPIEZA AQUI */

.cursive {
  font-style: italic;
}

.center {
  text-align: center;
}

.mtop {
  position: relative;
  z-index: 99;
}

.blue {
  color: #2c62fe;
}

.info-cont {
  width: 450px;
}

.info---c {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 7%;
}

.info-cont:not(:last-child) {
  margin-bottom: 15px;
}

.purple {
  color: #b727fe;
}

.poppins {
  margin: 0;
  /* font-family: "Poppins", sans-serif; */
}

.hgray {
  color: #bebebe;
}

.font-m {
  font-size: 18px;
}


/* SEGUNDA SECCION EMPIEZA AQUI */

.aegis-background {
  width: 100%;
  height: 120%;
  object-fit: cover;
}


/* TERCERA SECCION EMPIEZA AQUI */

.third-section-large-header {
  height: 100vh;
  /* width: 100vw; */
  position: relative;
}

.top-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  filter: grayscale(43%) blur(1px);
  -webkit-filter: grayscale(43%) blur(1px);
  -moz-filter: grayscale(43%) blur(1px);
}

.third-section-intro-content {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.third-section-grid {
  display: grid;
  width: 70%;
  margin: auto;
  margin-top: 50px;
  padding: 2em;
  gap: 2em;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 300px 300px;
  justify-content: center;
}

.thd-grid {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  border-radius: 12px;
  position: relative;
  height: 100%;
  box-shadow: 5px -1px 37px -2px rgba(0, 0, 0, 0.66);
  -webkit-box-shadow: 5px -1px 37px -2px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 5px -1px 37px -2px rgba(0, 0, 0, 0.66);
  transition: transform 1000ms linear;
}

.thd-grid:hover {
  transform: scale(1.05);
}

.thd-grid img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
  position: absolute;
  z-index: -1;
}

.thd-description {
  padding: 1.2em;
}

h3,
h5 {
  /* font-family: "Roboto Mono", monospace; */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* Firefox */

input[type=number] {
  -moz-appearance: textfield;
}

.thd-description h3 {
  text-align: end;
}

.thd-description h5 {
  letter-spacing: 2px;
  font-weight: 300;
  color: #fef02c;
}


/* section 3 termina aqui */

.main--1 {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 7fr;
}

.interface {
  position: relative;
  padding-bottom: 3rem;
  height: 960px;
  overflow-y: scroll;
  background-color: rgba(22, 23, 36, 1);
  background-position: center top;
  background-size: 100%;
  background-repeat: no-repeat;
}

@media screen and (min-width: 1281px) {
  .marquee-center {
    bottom: 33%;
  }
}


/* MODES INTRO */

.mode--solo {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  padding: 48px 20px;
}

.mode--solo--c {
  display:flex;
  flex-direction: row-reverse;
  
}

.solo--title {
  margin-bottom: 16px;
  color: rgba(255, 255, 255, 1);
  font-size: 2.25rem;
  /* font-family: "Teko", sans-serif; */
  font-weight: 900;

  text-shadow: 2px 2px 2px #000;
}


.solo--item {
  position: relative;
  padding: 8px;
  overflow: hidden;
  background: #161721;
  border: 1px solid #25273d;
  border-radius: 2px;
  box-shadow: 0 8px 16px -4px rgb(0 0 0 / 27%);
  padding-right: 30px;
  border-radius: 3px;
}

.bottom-text {
  margin-top: 1.5rem;
}

.text-t {

  /* font-family: "Teko", sans-serif; */
  font-size: var(--subtitle-size);
}

.solo--item--i {
  position: relative;
  display: flex;
  align-items: center;
  height: auto;
  overflow: hidden;
  border-radius: 0.125rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

.solo--item--video {
  width: 100%;
  height: 100%;
  -webkit-mask-image: linear-gradient(to right, transparent 0%, black 25%, black 75%, transparent 100%);
  mask-image: linear-gradient(to right, transparent 0%, black 25%, black 75%, transparent 100%);
}

.solo--item--video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.solo--item--i img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.solo--item-content {
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.solo--item-content-head {
  padding-bottom: 18px;
  padding-left: 18px;
  border-bottom: 1px solid rgba(40, 42, 62, 1);
}

.solo--item-content-head span {
  padding-bottom: 18px;
  font-size: 1.375rem;
  /* font-family: "Teko", sans-serif; */
  line-height: 1.125rem;
  color: #3c5376;
}

.solo--item-content-head h2 {
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  font-size: 1.25rem;
  /* font-family: Poppins, sans-serif; */
  line-height: 1.625rem;
}

.solo--item-content-desc {
  margin: 18px 0;
}

.solo--item-content-desc p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.875rem;
  line-height: 1.5rem;
  /* font-family: Poppins, sans-serif; */
}

.solo--btn-c {
  padding: 13px 40px 10px;
  font-size: 1.25rem;
  text-align: center;
  background-color: #98ea13;
  /* font-family: "Teko", sans-serif; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5rem;
  color: rgba(0, 0, 0, 1);
  border-radius: 15px;
  transition: all 0.3s ease;
}

.solo--btn-c:hover {
  background-color: #fff;
}


/* ESTILOS DE MODES CONTAINER */

.modes-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.mode-test {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1em 4em 1em 4em;
  border-radius: 8px;
  cursor: pointer;
}

.mode-test h4 {
  /* font-family: "Roboto Mono", monospace; */
  font-size: 18px;
}

.modes-container .mode-item {
  padding: 2em 1em 2em 1em;
  border-radius: 20px;
}

.mode-active {
  background: #b6ff40;
}

.mode-unactive h4 {
  color: #999;
}

.mode-unactive:hover {
  box-shadow: 0 0 1px 1px #b6ff40;
  cursor: pointer;
}

.mode-item {
  position: relative;
  width: 220px;
  height: 125px;
  display: flex;
  align-items: center;
}

.modes-container .mode-item h4 {
  color: #fff;
  /* font-family: "Roboto Mono", monospace; */
  font-size: 18px;
}

.subtitle-active {
  color: #0b0f17 !important;
}

.videocontainer {
  height: 75vh;
  overflow: hidden;
}

.videocointaner video {
  object-fit: fill;
}

#myVideo {
  width: 100%;
}

#myVideo2 {
  display: none;
}


/* WITHDRAW AND DEPOSIT */

.deposit-container {
  display: flex;
  margin-left: 2rem;
}

.deposit-container-item {
  width: 180px;
  height: 120px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #e8e9eb;
  box-shadow: 0 0 0 transparent;
  transition: all 250ms;
}

.withdraw-unacive {
  opacity: 0.5;
  backface-visibility: hidden;
  filter: grayscale(20%);
}

.deposit-btn-submit {
  position: relative;
  padding: 1rem;
  margin: 2.5rem 2rem;
  background-color: var(--verde);
  color: var(--black);
  border: none;
  border-radius: var(--border-radius);
  /* font-family: "Roboto Mono", monospace; */
  font-size: var(--button-size);
  font-weight: var(--button-weight);
  transition: all 0.3s ease;
}

.start-game-btn {
  background-color: #b6ff40;
  color: #081325;
  border: none;
  border-radius: var(--border-radius);
  font-size: var(--button-size);
  font-weight: var(--button-weight);
  line-height: 28px;
  width: 370px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 10px;
  padding-bottom: 10px;
  /* font-family: "Roboto Mono", monospace; */
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.start-game-btn:hover {
  background-color: #ffffff;
  color: #000;
}

.deposit-btn-submit:hover {
  background-color: #ffffff;
  color: #000;
}

.green-b {
  color: #b6ff40;
}

.withdraw-unacive:hover {
  opacity: 0.8;
}

.w-conditions {
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  /* font-family: "Roboto Mono", monospace; */
  letter-spacing: 0;
  text-align: center;
  line-height: 20px;
}

.underline {
  text-decoration: underline;
}

.underline:hover {
  color: #b6ff40;
}

.m-left {
  margin-left: 2rem;
}


/* MODO PRUEBA Y MODO REAL */

.pad--s {
  padding: 1rem 1rem 1rem 1.5rem;
  position: relative;
}

.pad--int {
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 0.7rem 1rem;
  border-radius: 20px;
}

.pad--int:hover {
  background-color: #3c5376;
}

.pad--transition {
  -webkit-animation: slide-in-top 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.active-mode .real-acc {
  color: #fff;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-800px);
    transform: translateY(-800px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-800px);
    transform: translateY(-800px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.active-mode {
  background-color: #3c5376;
}


/* ESTILOS TITLE RULES  */

.sec-title-h {
  /* font-family: "Teko", sans-serif; */
  font-size: 3.5rem;
  text-shadow: 2px 2px 2px #000;
}


/* 
MEDIA QUERY MAXW WIDTH 768PX  APLICACION POR DENTRO */

@media (max-width: 768px) {
  .main--1 {
    grid-template-columns: 1fr;
  }

  .modes-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .solo--item {
    grid-template: auto/auto;
  }

  .solo--item-content-desc p {
    padding-left: 18px;
  }
}



/* 



MEDIA QUERY MAXW WIDTH 415PX  */

@media (max-width: 480px) {

  #tsparticles {
    display: none;
  }

  .fixed-button-container {
    right: 0!important;
  }

  .interface {
    padding-bottom: 4rem;
    height: auto;
  }

  .videocontainer {
    display: none;
  }

  .menu-navigation-media {
    margin: 10px 19px;
    height: 88%;
    padding-top: 10px;
  }

  .btn {
    font-size: 18px !important;
  }

  .outline {
    color: #000 !important;
  }

  .first-section {
    height: 90vh;
  }

  #myVideo {
    display: none;
  }

  #myVideo2 {
    display: block;
    transform: translateY(-60px);
    width: 100%;
    height: 76%;
    position: relative;
  }

  .logo {
    height: 22px;
  }

  .navbar {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .btn {
    padding: 0.2em 0.7em;
    font-size: 14px;
  }

  .intro {
    top: 18% !important;
    z-index: 29;
  }

  .marquee-center {
    bottom: 31%;
  }

  .mtop {
    margin-top: 0;
    z-index: 28;
  }

  .mt-ss {
    margin-top: 20px;
  }

  .overlay-gradient {
    top: 12%;
  }

  .grid-content {
    grid-template-columns: repeat(1, 1fr);
    margin: 100px 20px;
  }

  .info-cont {
    width: auto;
  }

  .info---c {
    display: block;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
  }

  .third-section-large-header {
    height: 100%;
  }

  .text-01 {
    top: 17%;
  }

  .section2-text {
    margin: 0rem 2rem !important;
  }

  .text-01 {
    top: 15% !important;
  }

  .text-02 {
    top: 43% !important;
  }

  .text-03 {
    left: 0 !important;
  }

  .intro-content {
    flex-direction: column;
  }

  .intro-content {
    flex-direction: column;
  }

  .info-cont img {
    width: 200px !important;
    height: 100% !important;
  }

  .title-1 {
    font-size: 2.5em;
    line-height: 52px;
    top: 20%;
    left: 0 !important;
  }

  .title-2 {
    text-align: center;
  }

  .mtop {
    top: 5% !important;
  }

  .second-section {
    margin-top: 20px;
  }

  .third-section-intro-content {
    padding: 7rem 0;
  }

  .anchor {
    font-size: 0.8rem;
    padding: 1rem 2rem;
  }

  .subtitle-1 {
    font-size: 0.8em;
  }
}

@media (max-width: 425px) {
  .intro {
    margin-left: 30px;
    top: 2%;
  }

  .title-1 {
    font-size: 2em;
  }

  .section2-text h3 {
    font-size: 1.7rem !important;
  }

  .font-m {
    font-size: 15px;
  }

  .mtop {
    margin-top: 0;
  }

  .third-section {
    margin-bottom: 80px;
  }

  .m-bot {
    margin-bottom: 1rem;
  }



  .absolute-social-c {
    margin: 0.5rem 3rem;
    display: flex;
  }
}


/* 
////////////////////////////////////
////////////MODE PLAY /////////////
//////////////////////////////////




*/

#terms {
  min-width: 13px;
}

#rules {
  min-width: 13px;
}

.mode-unactive a h4 {
  color: #999;
}


/* crear apuesta - MODO SOLO */

.sss {
  position: absolute;
  width: 100%;
  height: 106%;
  background-color: rgba(55, 55, 55, 0.631);
  top: -5%;
  z-index: 5;
}

.menu-bet {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  visibility: hidden;
  position: absolute;
  z-index: 5;
}

.subtitle-modes {
  color: #fff;

  font-size: var(--title-size);

}

.subtitle-mode-d{
  color: #fff;
  font-size: var(--subtitle-size);
}

.mb-sm {
  margin-bottom: 20px;
}

.mode-solo-amount {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.mode-solo-amount-inp {
 
  width: 360px;
 
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  margin: 0 auto;
}

.mode-test-active {
  color: rgb(255 255 255 / 60%);
  position: absolute;
  top: 0;
  margin: 14px 0;
  font-size: var(--subtitle-size);
  /* font-family: "Roboto Mono", monospace; */
}

.mode-solo-amount div h3 {
  font-size: 22px;
  font-weight: lighter;
  text-align: center;
}

.mode-solo-amount-btn {
  width: 320px;
  border-radius: 10px;
  display: flex;
  gap: 5px;
}

.balance-container {
  display: none;
  margin-top: 2rem;
}

.welcomebtn {
  margin: 0px 0px 20px 0;
  width: 100%;
}

.left-container-h3 {
  font-size: 1rem;
  text-transform: uppercase;
  /* font-family: "Teko", sans-serif; */
}

.large-btn {
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 20px;
  font-size: 20px;
  background-color: #0e1018;
  border: none;
  color: #fff;
  width: 50%;
}

.dollarsign {
  color: rgb(255, 255, 255);
  font-size: var(--title-size);
  position: absolute;
  font-weight: lighter;
  left: 35%;
  /* font-family: "Roboto Mono", monospace; */
}

.start-game-btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}





.lighterr {
  font-weight: 300;
}

.visible {
  visibility: visible !important;
}

.scaleuptr {
  -webkit-animation: scale-up-tr 0.4s ease-in-out both;
  animation: scale-up-tr 0.4s ease-in-out both;
}

.scaledowntop {
  -webkit-animation: scale-down-top 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-down-top 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.mode-create-lobby {
  padding: 68px 40px;
  position: relative;
  z-index: 10;
}

.normal-lobby {
  background-color: #25273d;
}

.practice-lobby {
  background-color: #f55b01;
}

.mode-create-lobby img {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  cursor: pointer;
}

.inputBetAmount {
  background: transparent;
  color: rgb(255, 255, 255);
  border: none;
  text-align: center;
  width: 100%;
  font-size: var(--title-size);
  padding-bottom: 2px;
  font-weight: lighter;
  border-bottom: 2px solid var(--verde);
  /* font-family: "Roboto Mono", monospace; */
}

.inputBetAmount:focus {
  outline: none;
}

.gc-profile-title {
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 300;
  /* font-family: "Poppins", sans-serif; */
 
  color: #fff;
}

.terms-container label {
  color: rgba(255, 255, 255, 1);
  font-size: var(--subtitle-size);
  /* font-family: "Teko", sans-serif; */
  letter-spacing: 1.2px;
}

.terms-container label a {
  color: #fff;
  font-weight: 900;
}

.terms-container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 480px;
}

.real-acc {
  color: #b6ff40!important;
}

.orange {
  color: rgba(242,92,4,1)!important;
}

/* cerrar */

@-webkit-keyframes scale-down-top {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }

  100% {
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes scale-down-top {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }

  100% {
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 0;
    visibility: hidden;
  }
}


/* abrir */

@-webkit-keyframes scale-up-tr {
  0% {
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 0;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
}

@keyframes scale-up-tr {
  0% {
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 0;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
}

.solo--item--vv {
  width: 100%;
  height: 100%;
}

.controls-abs {
  position: absolute;
  top: 45%;
  left: 45%;
  cursor: pointer;
}

.controls-play {
  -webkit-animation: fade-out 1s ease-out both;
  animation: fade-out 1s ease-out both;
}

.expand-button {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 40px;
  margin: 1rem;
  width: 40px;
  z-index: 4;
  cursor: pointer;
}

.solo-item-video {
  width: 100%;
  height: 100%;
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 1366px) {
  .profile-photo {
    width: 45px;
    height: 45px;
  }

  .interface {
    height: auto;
  }

  .btn {
    font-size: 15px;
  }

  .left-container-h3 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .expand-button {
    display: none;
  }

  .controls-abs {
    top: 60px;
    left: 129px;
  }

  .solo--item-content-button {
    margin-left: 15px;
  }
}

@media (max-width: 768px) {
  .mode-create-lobby {
    margin-top: 20%;
  }
}

@media (max-width: 485px) {
  .mode-create-lobby {

    padding: 50px 0px;
    overflow: auto;
  }
  .mode-solo-amount-inp {
    width: 100%;
  }

  .mode-solo.amount h3 {
    font-size: 18px;
  }


  .start-game-btn {
    font-size: 20px;
    width: 310px;
  }

  .mode--solo--c {
    overflow-x: auto;
    flex-direction: column;
  }

  .terms-container {
    width: 300px;
  }

  .mode-test-active {
    font-size: 16px;
  }

  .balance-container {
    display: block;
  }
}



/* TABLE AND BACKGROUND WITH GRADIENT */

.background-gradient-1 {
  
    padding: 24px;

    margin: 8px;

    background-image: linear-gradient(
      to bottom,
      #161629 32px,
      rgba(22, 22, 41, 0)
    );

    border: 1px solid transparent;

    border-bottom-width: 0;

    border-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0)
      )
      1;

}

th {
  color: #fff;
  font-size: var(--subtitle-size);
  opacity: 0.48;
}

td {
  color: #fff;

  text-align: center;

  padding: 10px 20px;
}

.lastCol {
  padding: 10px !important;
}


.hero_img {
  width: 70px;

  height: 50px;

  border-radius: 8px;
}

.d-match {
  display: flex;

  flex-direction: row;
}

.d-match-body {
  text-align: left;

  padding-left: 10px;
}

.d-match-body h5 {
  font-weight: bold;

  margin-bottom: 5px;
}

.d-match-body div {
  font-size: 12px;
}

.date-td {
  font-size: var(--text);
}

.green {
  color: #00ff00;

  font-size: var(--text);
}

.red {
  color: #ff0000;

  font-size: var(--text);
}

@media only screen and (max-width: 485px) {
  th {
    font-size: 10px;
  }

  td {
    font-size: 12px;
  }
}